@import "../helpers/helpers.scss";

.main_header {
	@extend %f_r_aj_center;
	position: fixed;
	margin: 50px 0px;
	width: 100%;
	z-index: 20;
	height: 60px;
	top: 0;
	// box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.2);
	background-color: transparent;

	.header_inside {
		padding: 20px 20px;
		border: 1px solid var(--color_secondary);
		width: 100%;
		border-radius: 40px;
		justify-content: space-evenly;
		align-self: stretch;
		background-color: var(--color_primary);

		.image_wrap {
			padding: 10px 0;
			max-width: 120px;
			right: 0;
			position: absolute;

			// transform: translate(50%, -50%);
			@extend %rel_xy_center;
			@extend %f_r_a_center;
			@include sm-down {
				left: 20%;
				width: 60px;
			}
		}
		.links_wrap {
			@extend %d_flex;

			justify-content: space-between;
			align-self: stretch;
			padding-inline-start: 0;
			.leftDiv,
			.rightDiv {
				width: 40%;
			}
			.leftDiv,
			.rightDiv {
				width: 40%;
				@include sm-down {
					flex-direction: column;
				}
			}
			div {
				display: flex;
				justify-content: space-evenly;
			}
			// The menu is transformed as per sidebar on click of hamburger icon
			@include sm-down {
				// padding-top: 5%;
				background-color: var(--color_secondary);
				transition: ease all 300ms;
				transform: translateY(-150%);
				display: flex !important;
				flex-direction: column;
				width: auto;
				position: absolute;
				top: 10%;
				left: 0;
				align-content: center;
				align-items: center;
			}
			.links {
				color: var(--color_primary);

				@extend %relative_box;
				@extend %f_r_a_center;
				list-style-type: none;
				cursor: pointer;
				color: var(--color_white);
				padding: 0 15px;
				@include sm-down {
					padding: 15px;
					flex-direction: column;
					align-items: stretch;
					color: var(--color_primary);
				}
				&:last-child {
					margin-right: 0;
				}

				.link_title {
					font-family: var(--font_secondary);
					font-weight: 400;
					@extend %f_r_a_center;
					justify-content: space-between;
					&:hover {
						color: var(--color_secondary);
						// transition: var(--transition);
						scale: 1.05;
					}
				}

				// Dropdown on links
				.dropdown_wrap {
					opacity: 0;
					transform-origin: top;
					transition: ease all 300ms;
					background-color: var(--color_primary);
					min-width: 200px;
					width: max-content;
					border-top: 0;
					position: absolute;
					left: 0;
					top: 100%;
					transform: translateY(-10px);
					visibility: hidden;
					@include sm-down {
						padding-top: 15px;
						position: relative;
						display: none;
						top: 0;
					}
					.dropdown_links {
						padding: 8px 15px;
						transition: ease all 300ms;
						&:hover {
							background-color: rgba(0, 0, 0, 0.1);
						}
					}
				}

				&.has_dropdown {
					.link_title {
						p {
							margin-right: 15px;
						}
					}
					.arrow_img {
						@extend %f_r_aj_center;
						width: 12px;
						transform: rotate(90deg);
						transition: ease all 300ms;

						img {
							filter: brightness(0);
						}
					}
				}
				// This class is added when link is clicked
				&.dropdown_opened {
					.dropdown_wrap {
						transform: translateY(2px);
						opacity: 1;
						visibility: visible;
						@include sm-down {
							display: block;
						}
					}
					.arrow_img {
						transform: rotate(-90deg);
					}
				}
			}
		}
		// The hamburger icon is visible only if it is mobile
		.hamburger_icon {
			display: none;
			width: 32px;
			height: 24px;

			@extend %f_d_column;
			justify-content: space-between;
			@include md-down {
				right: 0;
				width: 20px;
				height: 20px;
			}
			.hamburger_line {
				transform-origin: left;
				display: inline-block;
				width: 100%;
				height: 2px;
				border: 50px;
				background-color: var(--color_white);
				transition: ease all 300ms;
			}
			@include sm-down {
				right: 10%;
				bottom: 28%;
				position: absolute;

				display: flex;
			}
		}
	}

	// This class is added when hamburger is clicked to open in mobile
	&.sidebar_opened {
		.hamburger_icon {
			.hamburger_line {
				&:first-child {
					transform: rotate(45deg);
					@include sm-down {
						transform: rotate(50deg);
					}
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:last-child {
					transform: rotate(-45deg);
					@include sm-down {
						transform: rotate(-55deg);
					}
				}
			}
		}
		.links_wrap {
			transform: translateX(0) !important;
		}
	}
}
