@import "../helpers/helpers.scss";

.HomeKochiMoment {
	:global {
		.swiper {
			width: 30%;
			padding: 2% 0;

			.swiper-wrapper {
				.swiper-slide-shadow {
					display: none;
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				position: relative;
				&::after {
					position: absolute;
				}
			}
			.swiper-button-next {
				&::after {
					right: 0 !important;
				}
			}
		}
	}
}
.slider_arrows {
	margin: 0 auto;
	width: 10%;
	.custom-prev,
	.custom-next {
		background-color: transparent;
	}
}
