@import "../helpers/helpers.scss";
			
.HomePowerHouse{
    .playerTable{
       .tableWrapper{
        :global {
            .swiper-slide {
            border: 1px solid red;
            position: relative;
            }
        .BackgroundIMG{
            position: relative;
            img{
                position: absolute;
                top: o;
            }
        }
       }
    }

    :global{
        .swiper-slide{
            margin-right:0 ; 
        .swiper-slide-active{
            margin: 20px 20px 20px 20px;
        } }
       
    }
    .:hover{
background:linear-gradient(180deg,#dfa41b00,#c96c98);
    }
}
        
    

}
  
