@import "../helpers/helpers.scss";

.HomeStayHooked {
	background-color: #583060;
	.wrapper {
		overflow: hidden;
		position: relative;
		background-color: var(--color_primary);
		padding-top: 3% !important;
		padding: 0 5%;
		border-radius: 10px;
		min-height: 280px;
		padding-right: 0;
		@include sm-down {
			
			min-height: 290px;
		}
		.textDiv {
			position: relative;
			z-index: 10;
			@include sm-down{
				margin: 20px auto;
			}
			p {
				width: 50%;
				@include md-down {
					margin: 10px auto;
					width: 100%;
				}
			}
			.SocialDiv {
				@extend %f_r_a_center;
				justify-content: space-between;
				width: 30%;
				margin: 1% 0;
				padding: 1.5% 2%;
				background-color: rgb(255, 255, 255, 5%);
				border-radius: 5px;
				@include sm-down {
					width: 80%;
				}
				img:hover {
					scale: 1.2;
					transition: var(--transition);
				}
			}
		}
		.background {
			position: relative;
			@include sm-down{
				margin-top: 20px;
			}
			img {
				// position: absolute;

				@include md-down {
					bottom: 0;
					right: 0;
					width: 90%;
					bottom: 0;
					right: 0;
				}
			}
			.diamond {
				opacity: 0.1;
				@include sm-down {
					right: 15%;
					opacity: 0.1;

					bottom: 0;
				}
				@include sm-up {
					position: absolute;
					width: 40%;
					right: -2%;
					top: 0%;
					transform: translateY(-77%);
				}
			}

			.football {
				width: 40%;
				position: absolute;
				top: 0;
				right: 0;
				transform: translate(-0%, -30%);
				@include sm-down {
					width:90%;
					right: 0;
					top: 0;
					transform: translate(0%, -7%);
				}
				@include sm-up {
					width: 37%;
					right: -1%;
					top: 0%;
					transform: translateY(-84%);
				}
			}
		}
	}
}
