@import "../helpers/helpers.scss";

.HomeContactUs {
	background-color: #583060;

	.Wrapper {
		width: 80%;
		margin: 0 auto;
		padding: 1.5%;
		@extend %f_r_a_center;
		justify-content: space-between;
		border-radius: 10px;
		background-color: var(--color_primary);
		.ContactUs {
			width: 50%;

			div:nth-child(1) {
				margin: 2% 0;
			}
			.inputDiv {
				div {
				}
				div:nth-child(2) {
					display: flex;
					gap: 20px;
				}
				div:nth-child(4) {
					input {
						padding: 8% 0;
					}
				}
				.button {
					padding: 1% 4%;
					// margin: 3% 0;
				}
				input {
					padding: 2% 1%;

					width: 90%;
					background-color: transparent;
					border: 0;
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					&::placeholder {
						color: rgba(255, 255, 255, 0.4);
					}
					&:active {
						border: 1px solid rgba(255, 255, 255, 0.178);
					}
				}
			}
		}
		.rightClm {
			// padding: 10% 5%;
			color: var(--color_white);
			padding: 2%;
			width: 40%;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}
