@import "../helpers/helpers.scss";

.HomeSuperLeague {
	background-color: var(--color_white);
	width: 100%;
	height: 100%;
	.textDiv {
		
		.heading {
			line-height: 1;
		}
		@extend %full_overlay;

		p {
			width: 50%;
		}
	}
	.backgroundDiv {
		@extend %relative_box;
	}
}
