@import "../helpers/helpers.scss";

.HomeAbout {
	padding-top: 6%;

	width: 100%;
	.BGLight {
		width: 100%;
		position: absolute;
		z-index: 10;
	}
	.Background {
		@extend %relative_box;

		.textDiv {
			width: 100%;
			position: relative;
			z-index: 10;
			text-align: center;

			.Heading {
				line-height: 1;
				margin: 0 auto;

				text-align: center;

				@include sm-down {
					font-size: 14px;
				}
				@include lg-down {
					font-size: 30px;
				}
			}
			.Para {
				// width: 50%;
				font-size: 20px;
				line-height: 1.5;
				max-width: 90%;
				margin: 0 auto;
				@include lg-down {
					font-size: 14px;
					font-weight: 300;
					width: 50%;
				}
				@include xl-down {
					font-size: 14px;
					width: 70%;
					margin-bottom: 3%;
				}
			}
		}
	}
	.groundDiv {
		position: relative;
		z-index: 10;
		.parentImage {
			width: 100%;
		}
		.greenPlayer,
		.football,
		.yellowPlayer {
			max-width: 90%;
			position: absolute;
			bottom: 0;

			@include sm-down {
				width: 40%;
			}
			@include xxs-down {
				width: 10%;
			}
		}
		
		.yellowPlayer {
			// @extend %rel_x_center;
			left: 0;
			bottom: 50%;
			transform: translate(50%, 0%);
			z-index: 1;
			@include lg-down {
				transform: translate(50%, 0%);
				width: 10%;
			}
		}
		.greenPlayer {
			// @extend %rel_x_center;
			// right: 50%;
			right: 0;
			transform: translate(-50%, 0%);
			z-index: 1;
			bottom: 50%;
			@include lg-down {
				transform: translate(-50%, 0%);
				width: 10%;
			}
		}
		.football {
			@extend %rel_xy_center;
			// right: 0;

			transform: translate(-52%, -15%);
			z-index: 1;
			@include lg-down {
				width: 10%;
			}
		}
	}
}
