@import "../helpers/helpers.scss";

.HomeDrivingForce {
	background-color: #583060;
	padding-bottom: 25%;
	.background {
		margin: 0 auto;
	}

	.Wrapper {
		position: relative;
		.heading {
			position: absolute;
			top: 50%;
			width: 90%;
			max-width: 90%;
			text-transform: uppercase;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.OwnerInfo {
			width: 50%;
			padding: 2%;
			.MapDiv {
				border-radius: 10px;
				padding: 1% 0;
				min-width: 300px;
				background-color: var(--color_primary);
				position: absolute;
				width: auto;

				.animation {
					width: 90%;
					margin: 0 auto;
					@extend %d_flex;
					align-items: center;
					justify-content: space-around;
					background: var(--color_primary_light);
					padding: 4% 2%;
					border-radius: 5px;
				}
			}
			.MapDiv:nth-child(1) {
				left: 50%;
				bottom: 25%;
				transform: translate(-50%, 50%);
			}
			.MapDiv:nth-child(2) {
				right: 20%;
				bottom: 5%;
				transform: translate(50%, 50%);
			}
			.MapDiv:nth-child(3) {
				left: 25%;
				bottom: -35%;
				transform: translate(50%, -50%);
			}
			.MapDiv:nth-child(4) {
				left: 7%;
				bottom: 5%;
				transform: translate(0%, 50%);
			}
		}
	}
}
