@import "../helpers/helpers.scss";

.HomeUpcomingMatches {
	margin-top: -400px;
	@include md-down {
		margin-top: 0;
	}

	.table {
		border-radius: 20px;

		.DateDiv {
			color: rgba(255, 255, 255, 0.511);
			top: -25px;
			padding: 0.5% 2%;
			width: 80%;
			background-color: #3c1654;
			border-radius: 30px;

			&:hover {
				cursor: pointer;
			}
			@include sm-down {
				font-size: 14px;
			}
			:global {
				.swiper {
					@include sm-down {
						font-size: 14px;
					}
				}
				.swiper-slide-active {
					background-color: var(--color_white);
					color: var(--color_primary);
					border-radius: 20px;
					transform: scale(1.05);
					transition: transform 0.3s ease;
				}
			}

			div {
				h3 {
				}
			}
		}

		.ClubDiv {
			padding: 2% 0;
			position: relative;
			transition: var(--transition);

			.nth_match {
				text-align: center;
				right: 50%;
				border-radius: 5px;
				transform: translate(50%, -45%);
				top: 0;
				background-color: var(--color_primary);
				color: var(--color_secondary);
				width: auto;
				transition: var(--transition);
				position: absolute;
				padding: 5px 50px;
				border: 1px solid rgba(255, 255, 255, 0.283);
			}

			.MatchSchedule {
				width: 100%;
				margin-top: -20px;
				border-top: solid rgba(255, 255, 255, 0.053);
				transition: var(--transition);
				@extend %f_r_a_center;
				justify-content: space-evenly;
				@include sm-down {
					display: initial;
				}
				.team1,
				.team2 {
					@extend %f_r_aj_center;
					padding: 40px 0;
					width: 40%;
					gap: 10px;
					text-align: center;
					transition: var(--transition);
					@include sm-down {
						font-size: 14px !important;
						flex-direction: column;
						justify-content: center;
						font-size: 14px;
						flex-direction: column;
						width: 50%;
						margin: 0 auto;
						text-align: center !important;
					}
				}
				.Versus {
					width: 10%;
					margin: 0 auto;
					text-align: center;
				}
				.team1 {
					text-align: left;
				}

				.team2 {
					text-align: right;
				}
			}

			.liveTxt {
				width: 100%;
				display: grid;
				justify-content: center;
				border-bottom: 1px solid #ffffff22;

				p {
					background: var(--color_white);
					padding: 0px 10px;
					border-radius: 5px 5px 0px 0px;
				}
			}

			.Place {
				display: grid;
				justify-items: center;
				width: 90%;
				border-bottom: 1px solid #ffffff21;
				text-align: center;
				h1 {
					padding: 2%;
					color: var(--color_white);
					font-weight: 100;
					font-size: 20px;
				}
			}

			.Booking {
				@extend %f_r_aj_center;

				gap: 20px;

				padding-top: 2%;

				button:nth-child(1) {
					padding: 10px;
					border-radius: 5px;
					color: var(--color_primary);
					font-size: 20px;
					font-weight: 400;
					border: 1px solid;
					transition: var(--transition);

					&:hover {
						background-color: var(--color_tertiary);
					}
				}
				button:nth-child(2) {
					padding: 10px;
					border-radius: 5px;
					color: var(--color_secondary);
					font-size: 20px;
					font-weight: 400;
					border: 1px solid;
					transition: var(--transition);
					background: transparent;
					border: 1px solid var(--color_secondary);
					&:hover {
						border: 1px solid var(--color_tertiary);
						color: var(--color_tertiary);
					}
				}
			}
		}

		:global {
			.swiper-slide-active {
				padding-left: 15px;
			}

			.swiper-button-prev:after {
				font-size: 20px;
			}
			.swiper-button-next:after {
				font-size: 20px;
			}
			.swiper-wrapper {
				padding-left: 5%;
			}
			.swiper-button-prev,
			.swiper-button-next {
				color: var(--color_white);
				font-size: 20px;
				&:hover {
					color: var(--color_secondary);
					transition: background-color 0.3s ease;
				}
			}

			.swiper-pagination-bullet {
				right: 0;
				width: 10px;
				height: 10px;
				background-color: var(--color_white);
				opacity: 0.5;
				border-radius: 50%;
				transition: all 0.3s ease;

				&:hover {
					opacity: 0.8;
				}
			}

			.swiper-pagination-bullet-active {
				width: 30px;
				height: 10px;
				background-color: var(--color_white);
				opacity: 1;
				border-radius: 20px;
				transition: width 0.3s ease;
			}
		}
	}
}
