@import "../helpers/helpers.scss";

.HomeSuperLeague {
	background-color: var(--color_white);
	height: 100vh;
	@include sm-down {
		overflow: hidden;
	}
	.wrapper {
		.textDiv {
			width: 80%;
			position: relative;
			font-weight: 600;
			@include mdl-down {
				width: 90%;
			}
			.heading {
				line-height: 1;
				@include mdl-down {
					font-size: 60px;
				}
			}
			.para {
				width: 80%;
				font-weight: 300;
				padding: 2% 0;
				@include sm-down {
					width: 100% !important;
				}
				@include mdl-down {
					width: 70%;
					font-size: 16px;
				}
			}
		}
	}
	.BackgroundDiv {
		position: absolute;
		bottom: 0;
		right: 0;
		transform: translate(0, 40%);

		@include sm-down {
			transform: translate(10%, 15%) !important;
			min-width: 700px;
		}
		@include mdl-down {
			transform: translate(0%, -5%);
		}
	}
}
