@import "../helpers/helpers.scss";

.HomeContactUs {
	background-color: #583060;
	padding-bottom: 0;
	.Wrapper {
		margin: 0 auto;
		padding: 2%;
		@extend %f_r_a_center;
		justify-content: space-between;
		border-radius: 10px;
		background-color: var(--color_primary);
		@include sm-down {
			flex-direction: column;
			gap: 30px;
		}
		.ContactUs {
			width: 50%;
			@include sm-down {
				width: 90%;
			}
			div:nth-child(1) {
				margin: 3% 0;
			}
			.inputDiv {
				div {
				}
				div:nth-child(2) {
					display: flex;
					gap: 20px;
				}
				div:nth-child(4) {
					input {
						margin: 2% 0;
						padding-bottom: 7%;
					}
				}
				.button {
					// padding: 1% 4%;
					// margin: 3% 0;
					margin: 2% 0;
				}
				input {
					padding: 2% 0%;
					margin: 2% 0;
					width: 90%;
					background-color: transparent;
					border: 0;
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
					&::placeholder {
						font-family: var(--font_secondary);
						font-size: 20px;
						font-weight: 100;
						color: rgba(255, 255, 255, 0.4);
					}
					&:active {
						border: 1px solid rgba(255, 255, 255, 0.178);
					}
				}
			}
		}
		.rightClm {
			position: relative;

			color: var(--color_white);
			padding: 2%;
			width: 40%;
			border-radius: 10px;
			background-color: rgba(255, 255, 255, 0.1);
			@include sm-down {
				width: 90%;
			}
			div {
				margin: 2% 0;
			}
			.rowTwo {
				@extend %f_r_a_center;
				gap: 4%;
			}
			p {
				font-weight: 300;
				padding: 5% 0;
				@include sm-down {
					font-size: 14px;
				}
				span {
					padding-top: 5%;
				}
			}
		}
	}
	:global {
		span {
			color: #c96c98;
		}
		.swiper-pagination-bullet {
			right: 0;
			width: 10px;
			height: 10px;
			background-color: var(--color_white);
			opacity: 0.5;
			border-radius: 50%;
			transition: all 0.3s ease;
		}
		.swiper-pagination {
			position: absolute;
			left: -2%;
			bottom: 0px;
		}
		.swiper-pagination-bullet-active {
			width: 30px;
			height: 10px;
			background-color: var(--color_white);
			opacity: 1;
			border-radius: 20px;
		}
		.swiper-wrapper {
			min-height: 500px;
			padding: 2%;
			transform: translate3d(1px, 0, 0);
		}
	}
	.terinary {
		color: #c96c98;
	}
}
