@import "../helpers/helpers.scss";

.HomeUpcomingMatches {
	margin-top: -400px;
	.table {
		border-radius: 20px;

		.DateDiv {
			// position: absolute;
			color: var(--color_white);
			top: -25px;
			padding: 1%;

			width: 80%;
			background-color: #3c1654;
			border-radius: 30px;

			&:hover {
				cursor: pointer;
			}
			:global {
				.swiper-slide-active {
					background-color: var(--color_white);
					color: var(--color_primary);
					border-radius: 20px;
				}
			}
			div {
				h3 {
				}
			}
		}
		.ClubDiv {
			display: grid;
			justify-items: center;
			padding: 2%;
			.nth_match {
				display: grid;
				justify-items: center;
				padding: 2%;
				color: var(--color_secondary);
				width: 90%;

				padding: 10px 0px;
				border-bottom: 1px solid;
				p {
					padding: 0px 15px;
					border: 1px solid rgba(255, 255, 255, 0.283);
				}
			}
			.MatchSchedule {
				width: 100%;
				transition: var(--transition);
				@extend %f_r_a_center;
				justify-content: space-evenly;
				.team1 {
					@extend %f_r_a_center;
					width: 40%;
				}

				.team2 {
					@extend %f_r_a_center;
					width: 40%;
				}
			}
			.liveTxt {
				width: 100%;
				display: grid;
				justify-content: center;
				border-bottom: 1px solid #ffffff22;
				p {
					background: var(--color_white);
					padding: 0px 10px;
					border-radius: 5px 5px 0px 0px;
				}
			}
			.Place {
				display: grid;
				justify-items: center;
				width: 90%;
				border-bottom: 1px solid #ffffff21;

				h1 {
					padding: 2%;
					color: var(--color_white);
					font-weight: 100;
					font-size: 20;
				}
			}
			.Booking {
				display: flex;
				justify-content: center;
				width: 100%;
				padding-top: 2%;

				button {
					padding: 10px;
					border-radius: 10px;
					color: var(--color_primary);
					font-size: 20px;
					font-weight: 400;
					border: 1px solid;
					&:hover {
						background-color: var(--color_tertiary);
						transition: var(--transition);
					}
				}
			}
		}
		:global {
			.swiper-slide-active {
				padding-left: 20px;
			}
			.swiper-button-prev {
			}

			.swiper-pagination-bullet {
				right: 0;
				width: 10px;
				height: 10px;
				background-color: var(--color_white);
				opacity: 0.5;
				border-radius: 50%;
				transition: all 0.3s ease;
			}

			.swiper-pagination-bullet-active {
				width: 30px;
				height: 10px;
				background-color: var(--color_white);
				opacity: 1;
				border-radius: 20px;
			}
		}
	}
}
