@import "../helpers/helpers.scss";

// .HomePointsTable {
// 	// First and last columns with rounded corners

// 	td:first-child {
// 		border-radius: 10px 0 0 10px;
// 	}
// 	td:last-child {
// 		border-radius: 0px 10px 10px 0px;
// 	}
// 	th:first-child {
// 		border-radius: 5px 0 0 5px;
// 	}
// 	th:last-child {
// 		border-radius: 0px 5px 5px 0px;
// 	}

// 	thead {
// 		th {
// 			border: 1px solid var(--color_secondary);
// 			padding: 3% 0;
// 			border-left: 0;
// 			border-right: 0;
// 			border-top: 2px solid #fff;
// 			border-bottom: 2px solid #fff;
// 			border: 5px solid transparent;
// 			border-image: url("") 30 round;

// 			padding: 3% 0;
// 		}
// 	}
// 	.table-container {
// 		width: 100%;
// 		overflow-x: auto;
// 	}
// 	.table-container table thead th {
// 		border-bottom: 2px solid #ffffff;
// 	}

// 	table {
// 		width: 100%;
// 		border-spacing: 0px 10px;
// 		color: #ffffffab;
// 		font-size: 20px;
// 		tbody:nth-child(1) {
// 			border: 1px solid var(--color_secondary);
// 		}
// 		@include sm-down {
// 			font-size: 14px;
// 		}

// 		thead th {
// 			border-bottom: 2px solid #000;
// 		}

// 		.ClubImage {
// 			@include sm-down {
// 				width: 50px;
// 			}
// 		}

// 		.ClubName {
// 			text-align: left;
// 			@include sm-down {
// 				display: none;
// 			}
// 		}

// 		tr {
// 			display: table-row;
// 			td:nth-child(2) {
// 				display: flex;
// 				align-items: center;
// 				gap: 2%;
// 			}
// 		}

// 		.heading {
// 			.table td,
// 			.table th {
// 				border: 1px solid #ddd;
// 				border-collapse: collapse;
// 			}
// 			border: 1px solid red;

// 			th {
// 				// border: 1px solid var(--color_secondary);
// 				border-left: 0;
// 				border-right: 0;
// 				padding: 3% 0;
// 			}
// 		}

// 		// Media query to hide thead on smaller screens
// 		@include md-down {
// 			thead {
// 				display: none;
// 			}

// 			tbody tr {
// 				display: flex;
// 				flex-direction: row;
// 				justify-content: space-evenly;
// 				align-items: center;

// 				background-color: #ffffff17;
// 				margin-bottom: 10px;
// 				border-radius: 10px;
// 			}

// 			tbody td {
// 				padding: 10px 0;
// 				text-align: center;
// 				border: none;

// 				&:nth-child(2) {
// 					display: flex;
// 					align-items: center;
// 					justify-content: center;
// 					gap: 10px;
// 				}

// 				&::before {
// 					content: none;
// 				}
// 			}
// 		}
// 	}

// 	tbody td {
// 		padding: 20px;
// 		text-align: center;
// 	}

// 	tbody tr {
// 		background-color: #ffffff07;
// 		border-radius: 20px;
// 		transition: background-color 0.3s ease;

// 		&:hover {
// 			background-color: #ffffff10;
// 		}
// 	}
// }

.HomePointsTable {
	.heading {
		th {
			border: 1px solid var(--color_secondary);
			border-left: 0;
			border-right: 0;
			padding: 3% 0;
			@include sm-down{
				border: 0;
			}
		}
	}
	td:first-child {
		border-radius: 10px 0 0 10px;
	}
	td:last-child {
		// border-radius: 0px 10px 10px 0px;
	}
	th:first-child {
		border-radius: 5px 0 0 5px;
	}
	th:last-child {
		border-radius: 0px 5px 5px 0px;
	}

	.table-container {
		width: 100%;
	}
	.heading {
		border: 1px solid var(--color_secondary);
	}
	table {
		width: 100%;
		border-spacing: 0px 10px;
		color: #ffffffab;
		font-size: 20px;
		@include sm-down {
			font-size: 14px;
		}

		.ClubImage {
			@include sm-down {
				width: 50px;
			}
		}
		.ClubName {
			text-align: left;
			@include sm-down {
				display: none;
			}
		}

		tr {
			// display: table-row;
			td:nth-child(2) {
				display: flex;
				align-items: center;
				gap: 2%;
			}
		}
		thead {
			th {
				border-bottom: 2px solid #000;
			}
		}

		@include md-down {
			tbody tr {
				display: flex;
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;

				background-color: #ffffff17;
				margin-bottom: 10px;
				border-radius: 10px;
			}

			tbody td {
				padding: 10px 0;
				text-align: center;

				&:nth-child(2) {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
				}

				&::before {
					content: none;
				}
			}
		}
	}

	tbody td {
		padding: 20px;
		text-align: center;
	}

	tbody tr {
		background-color: #ffffff07;
		border-radius: 20px;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #ffffff10;
		}
	}
}
