@import "../helpers/helpers.scss";

.HomeKochiMoment {
	background-color: #583060;
	.Marquee {
		position: absolute;
		@extend %rel_xy_center;
	}
	.Wrapper {
		position: relative;
		width: 30%;
		margin: 0 auto;
		@include sm-down {
			width: 50%;
			margin: 0 auto;
		}
	}
	:global {
		.swiper {
			// width: 70%;

			// padding: 2% 0;

			.swiper-wrapper {
				.swiper-slide-shadow {
					display: none;
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				position: relative;
				&::after {
					position: absolute;
				}
			}
			.swiper-button-next {
				&::after {
					right: 0 !important;
				}
			}
			.slider_arrows {
				width: 115px;

				margin: 0 auto;
				margin-top: 20px;
				.custom-prev,
				.custom-next {
					border: 0;
					background-color: transparent;
					:hover {
						scale: 1.05;
						transition: var(--transition);
					}
				}
			}
		}
	}
}
