@import "../helpers/helpers.scss";

.HomeDrivingForce {
	background-color: #583060;
	padding-bottom: 20%;
	@include mdl-down {
		padding-bottom: 26%;
	}
	.background {
		margin: 0 auto;
	}

	.Wrapper {
		position: relative;

		.heading {
			position: absolute;
			top: 29%;
			width: 90%;
			max-width: 90%;
			text-transform: uppercase;
			left: 50%;
			transform: translate(-50%, -50%);
			@include sm-down {
				top: 7%;
				font-size: 25px;
			}
			@include mdl-down {
				top: 30%;
				font-size: 60px;
			}
		}

		.OwnerInfo {
			width: 100%;
			padding: 2%;

			@include sm-down {
				display: grid;
				gap: 20px;
				justify-content: center;
			}
			.MapDiv {
				width: auto;
				min-width: fit-content;
				border-radius: 10px;
				width: 20%;
				// padding: 1% 0;

				// min-width: 300px;
				background-color: var(--color_primary);
				position: absolute;

				display: flex;
				@include sm-down {
					position: unset !important;
					transform: unset !important;
				}
				@include mdl-down {
					border-radius: 10px;
					min-width: unset !important;
					width: 20% !important;
					background-color: var(--color_primary);
					position: absolute;
					display: flex;
				}

				.wrapper {
					width: auto;
					display: flex !important;
					background-color: #c96c98;
					border-radius: 10px;

					@include sm-down {
						display: unset;
						flex-direction: column;
					}
					p:nth-child(2) {
						display: none;
					}

					.PopUpMenu {
						transition: var(--transition);
					}

					.card {
						background-color: var(--color_primary);
						border-radius: inherit;
						padding: 2%;
						.Image {
							min-width: 250px;
						}

						.text {
							padding: 10%;
						}

						.animation {
							font-size: 16px;
							font-weight: 200;
							margin: 0 auto;
							display: flex;
							align-items: center;
							justify-content: space-around;
							background: var(--color_primary_light);
							padding: 4% 2%;
							border-radius: 5px;

							button {
								background-color: transparent;
								border: none;
								:hover {
									scale: 1.05;
									transition: var(--transition);
								}
							}
						}
					}
				}
			}

			.active {
				z-index: 14;

				width: 400px;
				display: block !important;
				padding: 3%;
				transition: var(--transition);
				@include sm-down {
					padding: 10px;
					width: auto;
				}
			}

			.inactive {
				display: none;
			}

			@keyframes fadeIn {
				0% {
					opacity: 0;
					transform: scale(0.95);
				}
				100% {
					opacity: 1;
					transform: scale(1);
				}
			}

			.MapDiv:nth-child(1) {
				left: 50%;
				top: 25%;
				transform: translate(-50%, 50%);
				z-index: 10;

				@include sm-down {
					margin-top: -100px;
				}
				@include mdl-down {
					transform: translate(-50%, 34%);
				}
			}

			.MapDiv:nth-child(2) {
				right: 20%;
				bottom: 0%;
				transform: translate(50%, 22%);
				@include mdl-down {
					transform: translate(50%, 10%);
				}
			}

			.MapDiv:nth-child(3) {
				left: 25%;
				bottom: 0;
				transform: translate(45%, 78%);
				@include mdl-down {
					transform: translate(76%, 72%);
				}
			}

			.MapDiv:nth-child(4) {
				left: 7%;
				bottom: 0%;
				transform: translate(0%, 21%);
				z-index: 11;
				@include mdl-down {
					transform: translate(16%, 9%);
				}
			}
		}
	}
}
