@import "../helpers/helpers.scss";

.HomePowerHouse {
	.playerTable {
		.tableWrapper {
			position: relative;
			.nameIMG {
				z-index: 5;
				position: absolute;
			}
			.playerDiv{
				.playerName{
					z-index: 5;
				}
					display: grid;
					border: 1px solid var(--color_primary);
					border-left: 0;
					padding: 2%;
					justify-items: center;
					justify-content: center;
				
}
				.playerIMG {
					position: relative;
					z-index: 4;
				}
			}
			.BackgroundIMG {
				// display: none;
				position: absolute;
				top: 5%;
				z-index: 1;
			}

			//     :global {
			//         .swiper-slide {
			//         border: 1px solid red;
			//         position: relative;
			//         }

			//    }
		}
		.tableWrapper:hover {
			background: linear-gradient(180deg, #dfa41b00, #c96c98);
		}

		:global {
			.swiper-scrollbar {
				display: none;
			}
			.swiper-slide {
				margin-right: 0;
				.swiper-slide-active {
					margin: 20px 20px 20px 20px;
				}
			}
		}
	}

