@import "../helpers/helpers.scss";

.HomeStayHooked {
	background-color: #583060;
	.wrapper {
		overflow-y: hidden;
		position: relative;
		background-color: var(--color_primary);

		padding: 3% 5%;
		border-radius: 10px;

		.textDiv {
			position: relative;
			z-index: 10;
			p {
				width: 50%;
				@include md-down {
					width: 100%;
				}
			}
			.SocialDiv {
				@extend %f_r_a_center;
				justify-content: space-between;
				width: 30%;
				margin: 1% 0;
				padding: 1.5% 2%;
				background-color: rgb(255, 255, 255, 5%);
				border-radius: 5px;
			}
		}
		.background {
			img {
				position: absolute;
				@include md-down {
					bottom: 0;
					right: 0;

					width: 60%;
				}
				@include lg-down {
					bottom: 0;
					right: 0;
					width: 70%;
				}
			}
			img:nth-child(1) {
				right: 0;
				top: 0;
				opacity: 0.1;
				@include md-down {
					margin-top: 30px;
					position: initial;
				}
			}

			img:nth-child(2) {
				right: 0;
				top: 0;
				@include md-down {
					top: initial;
					bottom: 0;
					right: 0;
				}
			}
		}
	}
}
