@import "../helpers/helpers.scss";

.HomeBroadCast {
	.wrapper {
		@extend %d_flex;
		.heading {
		}
		.country {
			height: 200px;
			display: flex;
			flex-flow: wrap;
			flex-direction: column;
			align-items: center;
			align-content: space-evenly;
			width: 30%;

			.MapDiv {
				margin: 3% 10% ;
			
				font-size: 14px;
				gap: 15px;
				@extend %f_r_a_center;
			}
		}
	}
}
