@import "../helpers/helpers.scss";

.HomeBroadCast {
	border-bottom: 5px solid var(--color_secondary);
	.wrapper {
		// @extend %f_r_a_center;
		@extend %d_flex;
		align-items: flex-end;
		// align-items: center;
		@include sm-down {
		}
		@include mdl-down {
			flex-direction: column;
		}
		.threejs {
			width: 100%;
			@include mdl-down {
				margin: 0 auto;
			}
		}
		.country {
			margin-top: 4% !important;
			display: grid;

			grid-template-columns: repeat(2, 1fr);

			@include sm-down {
				width: 100% !important;
				gap: 5px !important;
			}
			@include mdl-down {
				width: 70%;
				margin: 0 auto;
			}
			.MapDiv {
				margin: 3% 0%;

				font-size: 14px;
				gap: 15px;
				@extend %f_r_a_center;
				@include sm-down {
					align-items: center;
					gap: 5px;
				}
				@include mdl-down {
					margin: 2% 0%;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				img {
					min-width: 120px;
					@include sm-down {
						min-width: 120px !important;
					}
					@include mdl-down {
						min-width: 220px;
					}
				}
				.TimeZone {
					font-weight: 100;
				}
				line-height: 1.2;
				:hover {
					scale: 1.05;
					transition: var(--transition);
				}
			}
		}
	}
}
