@import "../helpers/helpers.scss";

.hero_wrap {
	padding-top: 100px;
	line-height: 1;

	.heading {
		position: relative;

		.FootbalTxt {
			line-height: 1;

			@include md-down {
				width: 80%;
				font-size: 32px;
			}

			@include lg-down {
				width: 50%;
				font-size: 32px;
			}
		}
		.text {
			position: absolute;
			right: 1%;
			bottom: 5%;
			width: 30%;
			line-height: 1.5;

			@include lg-down {
				position: initial;
				right: 15%;
				bottom: 5%;
				font-size: 14px;
				width: 90%;
			}
			@include sm-down {
				right: 5%;
				bottom: 5%;
			}
		}
		.Image {
			position: absolute;
			right: 0%;
			bottom: 5%;
			@include lg-down {
				right: 10%;
				bottom: 5%;
			}
			@include sm-down {
				right: 1%;
				bottom: 7%;
			}
		}
		.Ground {
			position: relative;
			.Background {
				position: absolute;
			}
		}
	}
	// .swiper {
	// 	.swiper-wrapper {
	// 		:global {
	// 			.swiper-slide {
	// 			}
	// 			.swiper-slide-active {
	// 			}

	// 			.swiper-pagination {
	// 				.swiper-pagination-bullets {
	// 					width: 10px;
	// 					background: var(--color_white);
	// 				}
	// 				.swiper-pagination-bullets-active {
	// 					width: 50px;
	// 					background: var(--color_white);
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	:global {
		.swiper-pagination-bullet {
			right: 0;
			width: 10px;
			height: 10px;
			background-color: var(--color_white);
			opacity: 0.5;
			border-radius: 50%;
			transition: all 0.3s ease;
		}
		.swiper-pagination {
			position: absolute;
			left: -2%;
			bottom: 10px;
			text-align: right;
		}
		.swiper-pagination-bullet-active {
			width: 30px;
			height: 10px;
			background-color: var(--color_white);
			opacity: 1;
			border-radius: 20px;
		}
	}
}
