@import "../helpers/helpers.scss";

.HomeSuperLeague {
	background-color: var(--color_white);
	.wrapper {
		.textDiv {
			@extend %full_overlay;
			padding-top: 40%;
			.heading {
				line-height: 1;
			}
		}
	}
	.BackgroundDiv {
		@extend %relative_box;
		width: 100%;
		.BackgroundImg {
			margin-left: auto;
			margin-top: -15%;
			
		}
	}
}
