@import "../helpers/helpers.scss";

.HomeKochiMoment {
	:global {
		.swiper {
			width: 40%;
			.swiper-wrapper {
				position: relative;

				.swiper-slide-shadow {
					display: none;
				}
				.swiper-button-prev,
				.swiper-button-next {
					position: absolute;
					top: 90% !important;

					width: auto;
				}
			}
		}
	}
}
