@import "../helpers/helpers.scss";

.HomeSponsors {
	
	.heading {
		margin: 2% 0;
	}
	background-color: #583060;
	color: rgba(255, 255, 255, 0.71);
	.OfficialPartner,
	.AssociatePartners,
	.PrincipalPartners {
		@extend %d_flex;
		width: 80%;
		padding: 2% 0;
		gap: 20px;
		img {
			min-width: 100px;
		}
		@include sm-down {
			text-align: center;
			width: 100%;
			margin: 0 auto;
			justify-content: space-evenly;
		}
	}
	.PrincipalPartners {
		border-bottom: 0.5px solid rgba(255, 255, 255, 0.231);
		:hover {
			scale: 1.05;
			transition: var(--transition);
		}
	}
	.AssociatePartners {
		border-bottom: 0.5px solid rgba(255, 255, 255, 0.231);
		@include sm-down {
		}
	}
	.OfficialPartner {
		width: 100% !important;
		flex-wrap: wrap;

		:hover {
			scale: 1.05;
			transition: var(--transition);
		}
	}
}
