@import "../helpers/helpers.scss";

.HomeAbout {
	width: 100%;

	.Background {
		@extend %relative_box;
		img {
			width: 100%;
		}
		.textDiv {
			position: absolute;
			@extend %rel_xy_center;
			top: 40%;
			text-align: center;
			// padding-bottom: 5%;

			// @include sm-down {
			// 	.textDiv {
			// 		font-size: small;
			// 	}
			// 	font-size: small;
			// }
			.Heading {
				margin: 0 auto;
				width: 50%;
				text-align: center;
			}
			.Para {
				line-height: 1.5;
				max-width: 90%;
				margin: 0 auto;
			}
		}
	}
	.groundDiv {
		position: relative;
		.parentImage {
		}
		.greenPlayer {
			position: absolute;
			bottom: 0;
			@extend %rel_x_center;
		}
		.yellowPlayer {
			position: absolute;
			bottom: 0;

			@extend %rel_x_center;
		}
		.football {
			position: absolute;
			bottom: 0;
			@extend %rel_xy_center;
		}
		// .yellowPlayer {
		// 	position: absolute;
		// 	bottom: -22%;
		// 	left: 0;
		// 	z-index: 1;
		// }
	}
}
